.button {
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  color: white;
  outline: none;
  cursor: pointer;
  background-color: #30475e;
  text-decoration: none;
}

.button:hover {
  background-color: #516e8b;
}
