.main {
  background-color: gray;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
}

.post_list {
  margin: 0;
  list-style: none;
  position: relative;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  margin: 0 2rem;
}

.post_img {
  margin-bottom: 1rem;
}
